[submodule "Approximation"]
	path = Approximation
	url = https://github.com/MathRocks/Approximation.git
	branch = master
[submodule "Combinatorics"]
	path = Combinatorics
	url = https://github.com/MathRocks/Combinatorics.git
	branch = master
[submodule "Core"]
	path = Core
	url = https://github.com/MathRocks/Core.git
	branch = master
[submodule "DataAnalysis"]
	path = DataAnalysis
	url = https://github.com/MathRocks/DataAnalysis.git
	branch = master
[submodule "DataStructure"]
	path = DataStructure
	url = https://github.com/MathRocks/DataStructure.git
	branch = master
[submodule "FunctionalAnalysis"]
	path = FunctionalAnalysis
	url = https://github.com/MathRocks/FunctionalAnalysis.git
	branch = master
[submodule "Integration"]
	path = Integration
	url = https://github.com/MathRocks/Integration.git
	branch = master
[submodule "Interaction"]
	path = Interaction
	url = https://github.com/MathRocks/Interaction.git
	branch = master
[submodule "LinearAlgebra"]
	path = LinearAlgebra
	url = https://github.com/MathRocks/LinearAlgebra.git
	branch = master
[submodule "ProbabilityTheory"]
	path = ProbabilityTheory
	url = https://github.com/MathRocks/ProbabilityTheory.git
	branch = master
[submodule "Statistics"]
	path = Statistics
	url = https://github.com/MathRocks/Statistics.git
	branch = master
[submodule "UncertaintyQuantification"]
	path = UncertaintyQuantification
	url = https://github.com/MathRocks/UncertaintyQuantification.git
	branch = master
[submodule "Vendor"]
	path = Vendor
	url = https://github.com/MathRocks/Vendor.git
	branch = master
